.adds {
  background-image: url("../assets/images/add/add.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 417px;
  max-width: 1315px;
  border-radius: 20px;
}
